{% extends 'base.html.twig' %}

{% block title %}Добавление книги{% endblock %}

{% block body %}
    <h1>Добавление книги</h1>

    {{ include('books/_form.html.twig') }}

    <a href="{{ path('app_books_index') }}">назад</a>
{% endblock %}
