<form method="post" action="{{ path('app_userread_delete', {'id': userread.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userread.id) }}">
    <button class="btn">Удалить</button>
</form>
